@font-face{
    font-family: Craft;
    src: url(../fonts/Minecrafter.Alt.ttf);
}
body{
    background-image: url("../images/minecraftbackground.png");
    background-size: cover;
}
h1{
    text-align: center;
    font-family: Craft;
    font-size: 6rem;
    color: black(112, 112, 112, 0.918);
    box-shadow: 4px 4px 4px 4px black;
    width: 40rem;
    position: relative;
    top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.accordion{
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.accordion-item{
    background-color: rgb(177, 177, 177);
}
h3{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    position: relative;
    left:7rem;
    font-family: Craft;
    color: white;
}
p{
    font-family: craft;
    color: white;
}
strong{
    font-family: craft;
    color:rgb(58, 58, 58);
}
#button1{
    background-color: rgb(177, 177, 177) ;
    position: relative;
    left: 30rem;
    width: 15rem;
    height: 3rem;
}
#button2{
    background-color: rgb(177, 177, 177) ;
    position: relative;
    left: 35rem;
    width: 15rem;
    height: 3rem;
}
#sound{
    background-color: rgb(177, 177, 177) ;
    position: relative;
    left: 35rem;
    top: 5rem;
    width: 15rem;
    height: 3rem;
}