@font-face{
    font-family: COD;
    src: url("../fonts/Call\ of\ Ops\ Duty.otf");
}

body{
    background-image: url("../images/cod.jpg");
    background-position: center;
    background-position-y:-10rem ;
    background-position-x: center;
    overflow-x: hidden;
}
h1{
    font-family: COD;
    color: rgb(255, 115, 0);
    font-size: 5rem;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(255, 115, 0);
}
#top{
    font-size: 8rem;
    background-color: rgb(39, 39, 39) ;
    opacity: .9;
    position: relative;
    top: 38rem;
    width: 100rem;
    height: 9rem;
}
#bottom{
    left: 7.5rem;
    width: 18rem;
}
#butto{
    position: absolute;
    top: 3rem;
    left: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    background-color: rgb(39, 39, 39) ;
    opacity: .9;
    width: 20rem;
    height: 10rem;
    margin-left: 2rem;
    box-shadow: 2px 2px 2px 2px rgb(255, 115, 0);
}
h3{
    color: rgb(255, 115, 0);
}
#hid{

    position: absolute;
    left: 7.8rem;
    font-size: 3rem;
    top: 15rem;
    width: 30rem ;
    opacity: .9;
    box-shadow: 2px 2px 2px 2px rgb(255, 115, 0);
    background-color: rgba(39, 39, 39,.9);
}
#hid2{
    position: absolute;
    left: 60.5rem;
    font-size: 3rem;
    top: 15rem;
    width: 30rem ;
    opacity: .9;
    box-shadow: 2px 2px 2px 2px rgb(255, 115, 0);
    background-color: rgba(39, 39, 39,.9);
}
#divjob{

    background-color: rgba(39, 39, 39,.9);
    position: absolute;
    top: 20rem;
    left: 5rem;
    box-shadow: 2px 2px 2px 2px rgb(255, 115, 0);
    width: 35rem;
    height: 25rem;
}
#divcom{
    background-color: rgba(39, 39, 39,.9);
    position: absolute;
    top: 20rem;
    left:58rem;
    box-shadow: 2px 2px 2px 2px rgb(255, 115, 0);
    width: 35rem;
    height: 25rem;
}
p{
    text-align: center;
    font-size: COD;
    font-size: 1.3rem;
    color: rgb(255, 115, 0);
}
#name{
    position: absolute;
    width: 40rem;
    left: 50rem;
    text-align: center;
}
a{
    color: rgb(255, 115, 0);
}
audio{
    position: absolute;
    top: 27rem;
    right: 38.5rem;
    width: 17rem;
}
#employ{
    display: none;
}
#service{
    display: none;
}