@font-face{
    font-family: madden;
    src: url(../fonts/EASPORTS15.ttf);
}
body{
    background-image: url("../images/madden.jpg");
    background-size: cover;
    overflow-x: hidden;
}
h1{
    color: rgb(0, 146, 214);
    font-family: madden;
    position: relative;
    top: 2rem;
    font-size: 4rem;
}
#div{
    display: flex;
    flex-direction: row;
}
button{
    position: relative;
    top: 25.9rem;
    right: 6rem;
    width: 12rem;
    height: 12rem;
    background-color: rgb(59, 59, 59) ;
    opacity: .9;
}
h2{
    color: white;
    font-family: madden;
}
img{
    width: 10rem;
    height: 7rem;
}
#topper{
    position: relative;
    top: 27.7rem;
    width: 30rem;
}
#home{
    position: absolute;
    left: 80.5rem;
    top: 37.8rem;
}
#header{
    color:rgb(0, 146, 214);
    top: 2rem;
    left: 2rem;
    font-size: 4rem;
    width: 30rem;
    text-align: center;
    margin-left: 3rem;
}
#head2{
    margin-left: 10rem;
}
#main{
    margin-top: .7rem;
    height: 10rem;
    width: 15rem;
}
h3{
    color: white;
    font-family: madden;
    position: absolute;
    left: 40rem;
    top: 54rem;
}
#sound{
    position: relative;
    top: 0rem;
    text-align: center;
    font-size: 2rem;
}
#track{
    position: absolute;
    top: 3rem;
    left: 70rem;
    width: 23rem;
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}
#Resume{
    display: none;
    position: absolute;
    left: 1rem;
    top: 17rem;
    width: 43.1rem;
    height: 18rem;
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}
#h1Res{
    font-size: 2rem;
    text-align: center;
}
#Job{
    display: none;
    position: absolute;
    left: 49.1rem;
    top: 17rem;
    width: 43.1rem;
    height: 18rem;
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}
#cover{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30rem; 
    height: 12rem;
}
#Service{
    display: none;
    position: absolute;
    left: 1rem;
    top: 17rem;
    width: 43.1rem;
    height: 18rem;
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}
#h1Com{
    font-size: 2rem;
    text-align: center;
}
#Education{
    display: none;
    position: absolute;
    left: 49.1rem;
    top: 17rem;
    width: 43.1rem;
    height: 18rem;
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}
#h1Smart{
    font-size: 2rem;
    text-align: center;
}